fastapi==0.83.0
uvicorn[standard]==0.20.0
sqlalchemy==1.4.46
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5
paramiko==2.11.0
cryptography==3.4.8
pydantic==1.10.13
websockets==10.4
aiofiles==0.8.0
apscheduler==3.9.1
